
body {
    background: $body-color;
    color: $text-color;
    font-family: "Lato", sans-serif;
    transition: all 0.5s ease;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
  }
  
  a {
    color: $main-color;
  }
  li {
    list-style: none;
  }
  
  header {
    background: $border-color;
  }

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  
  color: white;
}

