body {
  background: #ffffff;
  color: #1b1b1b;
  font-family: "Lato", sans-serif;
  transition: all 0.5s ease;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2e2e;
}

a {
  color: #39008f;
}

li {
  list-style: none;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.link-n {
  text-decoration: none;
  color: #000000de;
}

@media (max-width: 720px) {
  *:hover {
    text-decoration: none;
    background-color: none;
    color: none;
    fill: none;
  }
}
.cards-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 26rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 20px #423e47;
}
.card__tittle {
  padding: 1rem;
}
.card__description {
  padding: 0 1rem;
  color: #1b1b1b;
}
.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
  border: 2px solid #39008f;
  background: transparent;
  color: #39008f;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card__btn {
  background: #39008f;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .pagination__links {
  padding: 3px 5px;
  margin: 3px;
  border: 1px solid #39008f;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pagination .pagination__links:hover {
  background: #39008f;
}
.pagination .pagination__links:hover a {
  color: #ffffff;
}
.pagination .angle {
  margin: 0 5px;
  padding: 0 5px;
  border: 1px solid #39008f;
  border-radius: 90px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pagination .angle:hover {
  background: #39008f;
}
.pagination .angle:hover a {
  color: #ffffff;
}
.pagination a {
  text-decoration: none;
}
.pagination .link__activate {
  background: #39008f;
}
.pagination .link__activate a {
  color: #fff;
}

.social-logo {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

.footer-links {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}
.footer-links #facebook2 {
  fill: #4267B2;
}
.footer-links #twitter2 {
  fill: #00acee;
}
.footer-links #github2 {
  fill: #211f1f;
}
.footer-links .social-links {
  margin: 0 5px;
}

.line {
  width: 100%;
  height: 1px;
  background: #39008f;
}

.footer {
  width: 100%;
  height: 85px;
  background: #ffffff;
}
.footer_links {
  display: flex;
}
.footer_links li {
  margin: 0 10px;
}

@media screen and (max-width: 726px) {
  .footer_links {
    flex-direction: column;
  }
}
.title-center {
  text-align: center;
}

#title {
  margin-bottom: 5rem;
}

.donation-cards_container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 1rem;
  justify-content: center;
}

.donation-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.donation-card__logo {
  height: 5rem;
  width: 5rem;
  margin-bottom: 10px;
}
.donation-card__link {
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 20px;
  color: #2e2e2e;
}

/*# sourceMappingURL=main.css.map */
