$main-color: #39008f;
$title-color: #2e2e2e;
$text-color: #1b1b1b;
$light-text-color: #4b4b4b;
$border-color: #2e1e47;
$container-color: #e9dbff;
$body-color: #ffffff;
$container-shadow: none;
$gtihub: #211f1f;
$twitter: #00acee;
$container-shadow:#423e47;   






  