
    $main-color: #7d27fd;
$title-color: #efe5fd;
$text-color: #c8cdd0;
$light-text-color: #a0a7ac;
$border-color: #2e1e47;
$container-color: #42049e;
$body-color: #271a3b;
$container-shadow: none;
$gtihub: #efe5fd;
$facebook: #efe5fd;
$twitter: #efe5fd;





  